// Place all the styles related to the DailyInventories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//#inv_quantity
//{
//visibility:hidden;
//}