// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#alt_item_number
{
visibility:hidden;
}

#item_number
{
visibility:hidden;
}

